<div class="navbar-inner">
	<div class="container">
		<a href="#" class="brand">hiredin</a>
		<!-- left nav -->
		<ul class="nav">
			<li><a href="#">Home</a></li>
			<li><a href="#">Pricing</a></li>
			<li><a href="#">Tour</a></li>
			<li><a href="#">Learn</a></li>
		</ul>
		<!-- left nav ends -->
		<ul class="nav pull-right">
			<li><a href="{{everyauth.google.user.link}}">{{everyauth.google.user.name}}</a></li>
			<li class="divider-vertical"></li>
			<li><a href="/logout">Logout</a></li>
			<!-- dropdown -->
		</ul>
		<!-- Right nav ends -->
	</div>
	<!-- Header container -->
</div>
<!-- nav bar inner -->
