<div class="row">
	<div class="span12">
		<div class="well">
			<h2>Add Job</h2>
			<p>Lorem ipsum id aliquip ut nulla in Duis cillum minim. </p>
			<!-- Model -->
			<div class="modal hide" id="myModal">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">×</button>
					<h3>Add Job</h3>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" method="post" action="/jobs/" id="addJob">
						<fieldset>
							<div class="control-group">
								<label class="control-label" for="name">Job name</label>
								<div class="controls">
									<input type="text" class="input-xlarge" name="name">					
									<p class="help-block">eg. Business Developer, PHP Developer</p>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="description">Description</label>
								<div class="controls">
									<textarea class="input-xlarge" name="description" rows="10"></textarea>
								</div>
							</div>
							<div class="form-actions">
								<button type="submit" class="btn btn-primary" id="submit_btn" name="submit">Save changes</button>
								<button class="btn">Cancel</button>
							</div>
						</fieldset>
					</form>
				</div>
				<div class="modal-footer">
					<a href="#" class="btn" data-dismiss="modal">Close</a>
					<a href="#" class="btn btn-primary">Next</a>
				</div>
			</div>
			<!-- End model -->
			<a href="#myModal" data-toggle="modal" class="btn btn-primary btn-large">Add New Job</a>
		</div>
	</div>
</div>
<div class="row">
	<div class="span12">
		<div class="row">
			<p class="span12">Lorem ipsum Excepteur aute et veniam consectetur id esse. Lorem ipsum eu adipisicing ad est quis voluptate reprehenderit anim eiusmod incididunt voluptate fugiat officia ullamco minim. Lorem ipsum cillum mollit fugiat eu anim elit exercitation adipisicing reprehenderit in Ut labore reprehenderit. </p>
		</div>	
		<div id="jobsview" class="row"></div>
	</div>
</div>