extends layout

block append scripts
	script(src='javascripts/app.js')

block content
	include includes/navigation

	block app
		div.row
			div.span6
				h3 Add jobs
				p
					| Lorem ipsum exercitation aliquip culpa enim do in dolor sit exercitation id officia magna. Lorem ipsum sit veniam incididunt in qui dolor non ex enim consequat ut. Lorem ipsum enim cupidatat proident nisi enim aliquip enim consectetur ad pariatur incididunt quis et. 
			div.span6
				h3 Add test
				p
					| Lorem ipsum Excepteur Excepteur est laboris velit sint incididunt incididunt dolore cupidatat dolore ullamco. Lorem ipsum ad laboris dolor Excepteur laboris quis laboris consequat deserunt ea Ut do in adipisicing esse eu. 
		div.row
			div.span6
				h3 Find Recommendation
				p
					| Lorem ipsum proident officia id nostrud nostrud reprehenderit incididunt irure ex in pariatur in. Lorem ipsum velit elit pariatur ea irure eu sunt pariatur in irure elit. Lorem ipsum ad sed nulla in sed reprehenderit ut aliquip ad. 
			div.span6
				h3 Manage people
				p
					| Lorem ipsum cupidatat occaecat Excepteur nulla nisi reprehenderit nisi consequat nostrud cupidatat. Lorem ipsum sit amet quis dolor ex amet sit tempor esse. Lorem ipsum minim cupidatat consequat occaecat eiusmod consectetur aute ea eu. 