extends layout

block content
	#showcase.row
		.span12
			.hero-unit
				h1 HiredIn
				p
					| Easily track applicants.  Simplify your hiring. Lorem ipsum velit commodo qui tempor Duis proident pariatur pariatur reprehenderit qui dolore minim cillum. Lorem ipsum nisi ex nostrud consequat aliqua in mollit sit laborum nulla. Lorem ipsum laborum sit minim et velit sit sit veniam et. Lorem ipsum esse sit ex enim id culpa pariatur reprehenderit. 
				p
					a.btn.btn-primary.btn-large(href="#") Learn More

	#highlights.row
		.span4
			h3 Post to multiple job boards
			.box1
				img(src="http://lorempixel.com/300/195/technics/1")

		.span4
			h3 Referral Machine
			.box1
				img(src="http://lorempixel.com/300/195/technics/2")

		.span4
			h3 Share unused resume for credits
			.box1
				img(src="http://lorempixel.com/300/195/technics/3")

	#quotes.row
		.span12
			blockquote
				p
					| Lorem ipsum officia veniam dolore Ut voluptate pariatur eiusmod ad. 
				small
					| Chris Weber, Principal Tech Staffing, Manilla.com

	#content.row
		.span12
			p
				| Lorem ipsum enim irure quis elit ex anim enim enim occaecat dolore dolor consectetur enim tempor ut ex. Lorem ipsum in eu incididunt aliqua Excepteur in voluptate non magna est eiusmod laborum veniam. Lorem ipsum magna commodo est amet reprehenderit cillum Ut laboris incididunt elit. Lorem ipsum voluptate officia dolore ad pariatur mollit dolor do in sit reprehenderit consequat. Lorem ipsum cillum enim deserunt mollit nostrud consequat veniam exercitation commodo incididunt esse officia veniam incididunt ut. 
