!!! 5
//if lt IE 7
	html.no-js.lt-ie9.lt-ie8.lt-ie7(lang='en')
//if IE 7
	html.no-js.lt-ie9.lt-ie8(lang='en')
//if IE 8
	html.no-js.lt-ie9(lang='en')
//if gt IE 8
	html.no-js(lang='en')

head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
	title Example brunch application
	meta(name='viewport', content='width=device-width')
	block styles
		link(rel='stylesheet', href='../stylesheets/app.css')
body
	.container
		block header
			include includes/header
	
		block content

		block footer
			include includes/footer

	block scripts
		script(src='../javascripts/vendor.js')