#footer.row
	.span3
		h3 Company
		ul.unstyled
			li
				a(href="#") Place
			li
				a(href="#") Company
			li
				a(href="#") About us
			li
				a(href="#") Press

	.span3
		h3 Place
		ul.unstyled
			li
				a(href='#') Place
			li
				a(href='#') Company
			li
				a(href='#') About us
			li
				a(href='#') Press
	.span6
		h3 Place
		p
			| Lorem ipsum deserunt nostrud dolor culpa minim non dolore elit eu. Lorem ipsum in enim nisi in nulla reprehenderit et ut dolore est ex voluptate irure Ut ullamco do. Lorem ipsum qui proident aute veniam voluptate nostrud qui occaecat irure. Lorem ipsum incididunt fugiat eiusmod et adipisicing velit consectetur. Lorem ipsum aliquip esse sunt sit anim veniam in occaecat officia aliquip in labore eiusmod. 