.navbar
	.navbar-inner
		.container
			a.brand(href='/') hiredin
			ul.nav
				li
					a(href='/') Home
				li
					a(href='#') Pricing
				li
					a(href='#') Tour
				li
					a(href='#') Learn
			ul.nav.pull-right
				- if (everyauth.loggedIn)
					li
						a(href='#{everyauth.google.user.link}') #{everyauth.google.user.name}
					li.divider-vertical
					li
						a(href='/logout') Logout
				- else	
					li
						a(href='/auth/google') Login with google
					li.divider-vertical
					li
						a(href='#') Signup
