extends ../app

block app
	#jobs.row
		.span12
			#jobs
				h3 Add a job
				form.form-horizontal(method="post", action="/api/v1/jobs/")
					fieldset
						.control-group
							label.control-label(for="name") Job Title
							.controls
								input.input-xlarge(id="name", type="text", name="name")
								p.help-block
									| In addition to freeform text, any HTML5 text-based input appears like so.

						.control-group
							label.control-label(for="description") Job description
							.controls
								textarea.input-xlarge(id="description", rows="3", name="description")
						input(name="next", type="hidden", value="/jobs/")

						.form-actions
							button.btn.btn-primary(type="submit") Save Changes