extends ../app

block app
	div.row
		div.span12
			h3= name
			p= description

	div.row
		div.span12
			h3 Publish on different sources

			#sources.row
				ul.span6
					form.form-horizontal(method="post", action="/api/v1/jobs/#{_id}/publish")
						fieldset
							.control-group
								label.control-label(for="iimjobs") 
									b Post jobs in
								.controls
									label.checkbox
										input#iimjobs(type="checkbox",name="iimjobs",value="iimjobs")
										| IIM Jobs

								.controls
									label.checkbox
										input#naukri(type="checkbox",name="naukri", value="naukri")
										| Naukri

								.controls
									label.checkbox
										input#monsterindia(type="checkbox",name="monsterindia", value="monsterindia")
										| Monster India

								.controls
									label.checkbox
										input#hasgeek(type="checkbox",name="hasgeek", value="hasgeek")
										| Has geek

								.controls
									label.checkbox
										input#venturehire(type="checkbox",name="venturehire", value="venturehire")
										| Ventrure Hire

								#cost
									h3 Total  30 $ (Thirty dollars)

								input(name="next", type="hidden", value="/publish/")
									
								.control-group
									button.btn.btn-primary(type="submit") Publish